body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000;
}
.slider {
    width: 603px;
    height: 700px;
    padding: 20px;
    margin: 0 auto 0 auto;
    text-align: center;
}
.slider__input {
    display: none;
}
label {
    cursor: pointer;
}
.slider__carousel {
    border: 2px solid rgb(79, 21, 146);
    border-radius: 20px;
    box-shadow: 4px 4px 60px 10px rgba(54, 34, 80, 0.178);
}
.slider__overflow {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 17px;
}
#slide1:checked ~ .slider__carousel .slider__inner {
    margin-left: 0;
}
#slide2:checked ~ .slider__carousel .slider__inner {
    margin-left: -100%;
}
#slide3:checked ~ .slider__carousel .slider__inner {
    margin-left: -200%;
}
#slide4:checked ~ .slider__carousel .slider__inner {
    margin-left: -300%;
}
.slider__inner {
    transition: 0.5s all;
    width: 400%;
    line-height: 0;
    height: 599px;
}
.slider__slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.slider__slide_1 {
    background: url(img/meme-1.jpg) no-repeat;
    background-size: contain;
    background-position: center;
}
.slider__slide_2 {
    background: url(img/meme-2.jpg) no-repeat;
    background-size: contain;
    background-position: center;
}
.slider__slide_3 {
    background: url(img/meme-3.jpg) no-repeat;
    background-size: contain;
    background-position: center;
}
.slider__slide_4 {
    background: url(img/meme-4.jpg) no-repeat;
    background-size: contain;
    background-position: center;
}
.slider__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 425px) {
    .slider__footer {
        flex-direction: column-reverse;
    }
}
#slide1:checked ~ .slider__footer .slider__desc-wrapper .slider__desc {
    margin-left: 0;
}
#slide2:checked ~ .slider__footer .slider__desc-wrapper .slider__desc {
    margin-left: -100%;
}
#slide3:checked ~ .slider__footer .slider__desc-wrapper .slider__desc {
    margin-left: -200%;
}
#slide4:checked ~ .slider__footer .slider__desc-wrapper .slider__desc {
    margin-left: -300%;
}
.slider__desc-wrapper {
    width: 79px;
    overflow: hidden;
}
@media screen and (max-width: 425px) {
    .slider__desc-wrapper {
        transform: translateX(-300%);
    }
}
.slider__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 310px;
    transition: 0.5s all;
}
.slider__caption {
    display: block;
}
.slider__bullets {
    text-align: right;
 }
@media screen and (max-width: 425px) {
    .slider__bullets {
        margin-top: 20px;
    }
}
.slider__bullets label {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius:100%;
    background: rgb(138, 138, 138);
    margin: 0 10px;
}
#slide1:checked ~ .slider__footer .slider__bullets label:nth-child(1),
#slide2:checked ~ .slider__footer .slider__bullets label:nth-child(2),
#slide3:checked ~ .slider__footer .slider__bullets label:nth-child(3),
#slide4:checked ~ .slider__footer .slider__bullets label:nth-child(4) {
    background: rgb(50, 0, 131);
}
#slide1 ~ .slider__footer .slider__bullets label:nth-child(1):hover,
#slide2 ~ .slider__footer .slider__bullets label:nth-child(2):hover,
#slide3 ~ .slider__footer .slider__bullets label:nth-child(3):hover,
#slide4 ~ .slider__footer .slider__bullets label:nth-child(4):hover {
    background: rgb(98, 0, 255);
    transition: 0.5s all;
}